/*div {
    height:100px;
    width:100px;
    border-radius:5px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-family: Verdana, Arial, Sans-Serif;
    margin-right:5px;
}

#ready {
    background-color:#008800;
    color:#FFFFFF;
}

#notready {
    background-color:#FF0000;
    color:#FFFFFF;
}*/

html{
/*  background-image:url("images/backg.jpg"); 
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  
}

#cuestionario{  
    position: absolute;
    top:20px;
    left: 300px;
    width: 800px;
    border-radius:5px;
    background-color:rgba(83, 147, 110, 0.29);
    display: none;
  
}

body {
  
  background-image:url("images/backg.jpg"); 
  background-size: 1400px 780px;
  /*background-color: #447659;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  
}



#personaje{
 position: absolute;
 top:2px;
 width: 30px;  
}
#esferas {
/*  position: absolute;*/
  width:30px;
  
}
